:root {
	--color-sub-light:  #f6f3e7;
	--color-sub-medium:  #f5e2ae;

	--color-sub-dark:  #faa707;

	--color-main-light:  #5e6fff;
	--color-main-medium:  #0B0BB5;
	--color-main-dark:  #151260;

	--color-neutral-light: #fffcf4;
	--color-neutral-medium: #c1b9a2;
	--color-neutral-dark: #887e5f;



	--color-white: #fff;


	-font-sans: 'Dosis', 'Inter', sans-serif;

	--header-height: 3.8rem;
	--footer-height: 4.6rem;
}


* {
	box-sizing:  border-box;
}

/*CORE ELEMENTS*/



a {
	color: inherit;
	text-decoration: none;
	font-weight: 400;
}

body {
	background-color: var(--color-sub-light);
	color: var(--color-main-dark);
	font-family: Dosis, sans-serif;
}





h3,h4,h5,p {	
	font-weight: 400;
}

.h2-light {
	font-weight: 300;
}
/*LAYOUT CLASSES*/
.border {
	border: 0.5px solid #d0d0d0;
	margin-top: 10px;
}

.hidden { display:none; }

.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; }

.flex-align-center { algn-items:center; }
.flex-ustify-center { justify-content:center; }
.flex-vertical { flex-direction:column; }

 .fill-parent {
 	width: 100%;
 	height: 100%;
 }

.overscroll { overflow: auto; }
.overscroll-x { overflow-x: auto; }
.overscroll-y { overflow-y: auto; }


.centered { text-align: center; }
.small { font-size: 0.9em; }
.position-relative {
	position: relative;
}


/*PAGE ELEMENT*/

.ui-mobile .ui-page-active {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;


}

[data-role="main"] {
	flex: 1 1 100%;
	position: relative;
	/*****position: relative;->map image resized well*/
	font-size: 1em;
	overflow: hidden;
	
}




.main-detail {
	padding-left: 22px;
	padding-right: 22px;
}


[data-role="main"] li {
	list-style-type: none;
	font-size: 1.2em;
}

.header,
[data-role="header"]{
	flex: none;
	height: var(--header-height);
	line-height: var(--header-height);
	border-width: 0;
	position: relative;
	overflow: hidden;
  	/*border-bottom-left-radius: 50%;
  	border-bottom-right-radius: 50%;*/
  	box-shadow: none;
  	border-bottom: 1px solid #c1b9a2;
}




[data-role="footer"] {
	flex: none;
	height: var(--footer-height);
	line-height: var(--footer-height);
	border-width: 0;
	box-shadow: 0 0 5px #cec8bd;
	position: relative;
	overflow: hidden;

}


.header ul,
[data-role="header"] ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

[data-role="footer"] ul {
	display: flex;
	list-style-type: none;
	margin: 0;

	position: relative;
	left: 0;
	right: 0;
}


.header a,
[data-role="header"] a,
[data-role="footer"] a {
	display: block;
}


.header a,
[data-role="header"] a {
	padding: 0 1em;
}

ul li .right {
	right: 0;
	top: 0;
	position: absolute;
	color: #ba2929;
	font-weight: 300;
}


[data-role="footer"] li {
	flex: 1 1 auto;
	text-align: center;
	color: inherit;

}




/*ICONS*/ 

.icon {
	width: 1.2em;
	height: 1.2em;
	display: inline-block;
	margin-top: 0.5em;
}

.nav-icon {
    display: block;
    line-height: 1rem;
    color: black;
    font-size: 1.5rem;
  
}



.nav-icon .icon {
	vertical-align: middle;

}



.nav-icon-label {
	display: block;
	line-height: 1rem;
	font-weight: 300;
	font-size: 0.6em;
	margin-top: 0.3em;
}


.nav-icon-set li.active{
   

}


.main-center {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.ui-header .ui-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0;
	font-size: 1.1rem;
	font-weight: 400;
	padding: 0;
	margin-top: -.1em;
}


/*FORM ELEMENTS */

.form {}
.form-control {
	margin: 1em 0;
}


.signin-form .form-input {
	width:  100%;
	display: inline-block;
	background-color: white;
    border: 1px solid var(--color-main-dark);
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    outline: 0;
    font: inherit;
}

.form-input {
	width:  100%;
	display: inline-block;
	border-width: 0;
    border-bottom: 1px solid var(--color-main-dark);
    background-color: transparent;
    margin: 0;
    padding: 0.5em 1em;
    outline: 0;
    font: inherit;
    color:  var(--color-main-light);
}


.form .form-button,
.form-button {
	display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-main-light);
    color: white;
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    outline: 0;
    font: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

}


.form-input-box {

	border: 1px solid #59513a;
	background-color: white;
	margin-top: 10px;
	width:  100%;
	display: inline-block;
    padding: 0.5em 1em;
    outline: 0;
    font: inherit;
}

/*signin,signup button*/
.form-control .form-button-dark {
	display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-main-dark);
    color: white;
    margin: 0;
    padding: 0.6em 1em;
    border-radius: 0.5em;
    outline: 0;
    font: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    -webkit-appearance: none;
}

.form-control .form-button-medium {
	display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-neutral-dark);
    color: white;
    margin: 0 auto;
    padding: 0.5em 1em;
    border-radius: 0.7em;
    outline: 0;
    font: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    -webkit-appearance: none;
    left: 0;
    right: 0;
    margin-top: 10px;
}


.form-button-medium-blue {
	display: inline-block;
	justify-content: center;
	margin: 0 auto;
    width: 40%;
    border-width: 0;
    border-radius: 1em;
    background-color: var(--color-main-light);
    color: white;
    padding: 0.6em 1em;
    outline: 0;
    font: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.form-button-delete{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	left: 0;
	right: 0;
    border-radius: 1em;
    background-color: transparent;
    border: 1px solid #e18383;
    color: #e18383;
    padding: 0.4em 1em;
    outline: 0;
    font: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.button-soft {
	display: inline-block;
	width: 50%;
	background-color: var(--color-sub-medium);
	border-radius: 1em;
	color: var(--color-main-dark);
	padding: 0.6em 1em;
	text-align: center;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.center {
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
}






.form-select select {
	background-color: var(--color-neutral-light);
    border-width: 0;
    padding: 0.5em 1em;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #c1b9a2;
    width: 100%;
    -webkit-appearance: none;
}



.ui-mobile .form-label {
	font-size: 1em;
	margin: 1rem 0 0;
	color: #887e5f;

}

.form-label-big {
	font-size:  1.5em;
	margin: 1rem 0 0;
	color: #887e5f;
}


.hotdog {
	padding: 0.5em 1em;
	display: inline-flex;
	width: 100%;
	border-radius: 2em;
	position: relative;

}

	.hotdog.white {
		background-color: var(--color-white);
	}

	.hotdog.medium {
		background-color: var(--color-neutral-light);
	}

	.hotdog input {
		border-width: 0;
		background-color: transparent;
		border-radius: 0;
		-webkit-appearance: none;
		font: inherit;
		color: inherit;
		outline: 0;
		flex: 1 1 auto;
		padding: 0;
		margin: 0;
		line-height: 1;
	}

	.search-bar .hotdog {
		height: 80%;
	}



.map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}



.logo-img  {
	
	text-align: center;
	background-size: contain;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 90%;
}

#page-signin {
	background-color: var(--color-sub-light);
}

#page-signup {
	background-color: var(--color-sub-light);
}






/* Floater */
.floater { position: absolute; }
.floater.left { left:1em; }
.floater.right { right:0.8em; }
.floater.top{ 
	top:1em; 
	left: 1em;
}
.floater.bottom{ bottom:1em; }

.floater.rightsm { 
	right: 1.3em;
	bottom: 1.5em;
}

/*Circle Button*/

.btn-circle {
	display: inline-block;
	background-color: var(--color-main-light);
	color: white;
	width: 3rem;
	height: 3rem;
	text-align: center;
	padding: 2px;
	line-height: 0.45em;
	font-size: 4rem;
	font-weight: 300;
	border-radius: 2em;
	box-shadow: 4px 4px 5px rgb(152 142 105 / 30%);
}


.btn-circle-sm {
	display: inline-block;
    background-color: var(--color-main-light);
    color: white;
    width: 2rem;
    height: 2rem;
    text-align: center;
    padding: 2px;
    line-height: 0.4em;
    font-size: 3rem;
    font-weight: 300;
    border-radius: 2em;
	box-shadow: 4px 4px 5px rgb(152 142 105 / 30%);
	right: 0.5em;
	bottom: 0.5em;

}

.btn-radius {
	display: inline-block;
	background-color: transparent;
	color: var(--color-main-medium);
	width: 3rem;
	height: 3rem;
	text-align: center;
	line-height: 0.45em;
	font-size: 4rem;
	font-weight: 300;
	border-radius: 0.05em;
	font-family: Nunito, sans-serif;
	font-weight: 400;

}


/*MODAL */

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s;

}

.modal.active {
	pointer-events: initial;
	opacity: 1;
}

.modal-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}


/*Modal Popup*/
.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 3em));
    border-radius: 5px;
    width: 80vmin;
    overflow: hidden;
    transition: all 0.3s;
}

.modal-body {
	padding: 15px;
    background-color: var(--color-neutral-light);
}

.modal-body li {
	list-style-type: none;
}

.modal-head {
	background-color: var(--color-neutral-light);
	line-height: 2rem;
	padding: 0 1em;
	color: white;
}


.modal-foot {
	background-color: var(--color-main-light);
	line-height: 2rem;
	padding: 0 1em;
	color: white;
}

.modal.active .modal-popup {
	transform: translate(-50%,-50%);
}




/*Modal Drawer*/

.modal-drawer {
	position: absolute;
	display: flex;
	flex-direction: column;
	transition: all 0.3s;
	box-shadow:  0 0 5px rgba(0,0,0,0.15);
	

}

.modal-drawer.left,
.modal-drawer.right {
	height: 100%;
	width: 70vw;
}

.modal-drawer.left { left: 0; transform:translateX(-100%); }
.modal-drawer.right{ right: 0; transform:translateX(100%); }


.modal-drawer.top,
.modal-drawer.bottom {
	height: 40vh;
	width: 100%;
}

.modal-drawer.top { top: 0; transform:translateY(-100%); }
.modal-drawer.bottom{ bottom: 0; transform:translateY(100%); }

.modal.active .modal-drawer {
	transform: translate(0);
}


/*.modal-drawer .modal-body {
	flex: 1 1 100%;
}*/


.modal-drawer.basin {
	height: 30vh;
	padding: 1em;
	box-shadow: none;
	


}

.modal-drawer.basin .modal-body {
	box-shadow:  0 0 5px rgba(0,0,0,0.15);
	border-radius: 1em;
	overflow: hidden;
}


.icon {
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
}



.icon.edit {
	background-color: #f5e2ae;
	border: 1px solid #c1b9a2;;
	width: 40px;
    border-radius: 100%;
    padding: 0.3em;
    margin-right: 49px;
}

/*TEXT*/

.phrase {
	font-size: 40px;
	color: var(--color-main-medium);
	position: relative;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
 
}


/*LIST ITEM*/

.cafelist{
	margin: 0 auto;
	padding-left: 0;
	/*padding-right: 20px;*/
	width: 100%;
	padding: 1em;
}


.cafelist-card {
	display: flex;
	width: 100%;
	height: 110px;
	background-color: white;
	margin-bottom: 0.9em;
	border: 1px solid #c1b9a2;
	border-radius: 20px;

	/*border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	direction: rtl;*/
}


.cafelist-img {
	object-fit: cover;
	display: flex;
}

.cafelist-img img {
	width: 100px;

    object-fit: cover;
    vertical-align: middle;
    border-radius: 20px 0 0 20px;
}



.cafelist-item{
	width: 100%;
	height: 110px;
	direction: ltr;
	margin-top: 1.5em;
	margin-left: 20px;
	justify-content: center;
	align-items: center;
}



.cafelist-item-name {
	color: inherit;
	text-decoration: none;
	font-weight: 500;
	font-size: 20px;
}

.cafelist-item-type {
	color: var(--color-neutral-medium);
	text-decoration: none;
	font-weight: 400;
	font-size: 13px;
}

.cafelist-item-breed {
	color: var(--color-main-dark);
	text-decoration: none;
	font-weight: 400;
	font-size: 16px;
}



/*CAFE PROFILE*/
.cafename {
	display: flex;
	justify-content: right;
	line-height: 2em;
}

.cafetype {
	font-size: 1em;
	font-weight: 300;
	color: grey;
}

.detail-box {
	width: 100%;
	height: 200px;
	background-color: var(--color-neutral-medium);
	border-radius: 0.4em;
	padding: 10px;
	margin-top: -10px;
}




.map {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.map-sm {

	
	background-repeat: no-repeat;
	background-position: center;
	border: 0.3px solid lightgrey;
	height: 300px;
	border-radius: 0.5em;
	background-size: cover;
}

.arrow {
	display: inline-block;
	align-items: center;
	font-size: 40px;
	color: var(--color-main-light);
	flex: 1 1 auto;
}


/*EDIT PROFILE -CAFE*/

/*USER PROFILE */

.cafe-profile-top {
	flex: none;
	height: 60cvh;
	position: relative;
	margin-top: 30px;
}


.cafe-profile-middle {
	display: flex;
	justify-content: left;
	line-height: 1.5em;
}

.user-profile-image img {
	display: flex;
	margin: 0 auto;
	
    width: 100%;
    height: 100%;
    
    border-radius: 100em;
    
 }

 .user-profile-image {
 	display: flex;
	margin: 0 auto;
 	border-radius: 50%;
    background-color: var(--color-neutral-light);
    object-fit: cover;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 1px solid #c1b9a2;
    margin-bottom: 20px;
 }

	

.cafename {
	font-size: 1.4em;
	font-weight: 500;
}

.name {
	font-size: 1.4em;
	font-weight: 500;
	margin: 0;
	position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color:  black;
}

.username {
	font-size: 1.2em;
	font-weight: 300;
	top:  20px;
	margin: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}


.title-paragraph {
	font-size: 1.1em;
	font-weight: 300;
	color: grey;
}

.description,
.paragraph {
	margin-top: -0.6em;
	font-size: 1em;
	font-weight: 300;
	text-align: left;
}

.space {
	flex: 1 1 auto;
	height: 40px;
}

.edit {
	color: grey;
	font-size: 0.95em;
	font-weight: 300;
	vertical-align: middle;
	height: 100%;
}

.padding-md {
	padding: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}




/*MAIN MAP*/
.flag {
	position: absolute;
	height: 40px;
	top: 200px;
	left: 40px;
	overflow: hidden;
	
}



 /*CAFEPOPUP*/



.cafe-popup-img,
.cafe-popup-item {
	pointer-events: none;

}

.cafe-popup-img img{
	max-width: 50px;


}

.cafe-popup-item {
	margin-left: 10px;

}

.cafe-popup-name {
	font-weight: 500;
	font-size: 16px;
	font-family: Dosis, sans-serif;
}

.cafe-popup-type {
	font-weight: 300;
	font-size: 13px;
}

.cafe-popup-breed {
	font-weight: 400;
	font-size: 13px;
}

.modal-back.transparent {
	background-color: transparent;
}

.search-bar {
	z-index: 2;
	padding: 0.2em 0.9em;
	margin-top: 10px;
}

.filter-bar {
	display: flex;
	padding: 0 1em;
	width: 100%;
	overflow-x: auto;
	margin-left: 0.8em;
	gap: 1em;
}


.filter-bar a {
	padding: 0em;
}


.image-picker.replace {
	position: flex;
	justify-content: center;
	margin: 0 auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.image-picker.replace input {
	display: none;
}


.image-picker input {
  display:none;
}

.image-picker {
  cursor:pointer;
  color:white;
  background-color:rgba(0,0,0,0.3);
}
/* This will add the floating plus symbol to the imagepicker */
.image-picker:before {
  content:'+';
  position:absolute;
  font-size:4em;
  vertical-align:middle;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color: #5e6fff;
}
/* This will hide the plus symbol behind the background of the imagepicker if the class "picked" is added to the element */
.image-picker.picked:before {
  z-index:-10;
}


.thumbnail {
  position:relative;
  display:inline-block;
  width:6em;
  height:6em;
  border-bottom: 1px solid #c1b9a2;
  vertical-align:middle;
  margin:0.5em;
  background-color: #f6f3e7;
  background-position:center;
  background-size:cover;
}
.thumbnail2 input,
.thumbnail input {
   display: none;
}

.thumbnail2 {
  position:relative;
  display:inline-block;
  width:6em;
  height:6em;
  border 1px solid #c1b9a2;
  vertical-align:middle;
  margin:0.5em;
  background-color: #c1b9a2;
  background-position:center;
  background-size:cover;
}








